{% extends "base.html" %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Page1</title>
{% endblock %}

{% block body %}
    <form method="POST">
        <label for="lat">Enter latitude: </label>
        <input type="number" id="lat" name="lat">
        <label for="long">Enter longitude: </label>
        <input type="number" id="long" name="long">
        <input type="submit" value="Submit" placeholder="Submit"><br>
    </form>
    <div style="width: 85%; display: flex; flex-direction: column; align-items: center; justify-content: flex-start;">
        <h2 style="text-align: center;color:rgb(99, 99, 99);">1000 random tuples</h2>
    </div>

    <div style="height: 50vh; width: 80%; display: flex; align-items: center; justify-content: center;">
        <label style="color:rgb(99, 99, 99);">Seconds  </label>
		<canvas id="myChart"></canvas>
	</div>

    <script>
		const labels = {{ time_query | tojson}}.map(label => 'Trial ' + label);

		const data = {
			labels: labels,
			datasets: [{
				label: 'Trials',
				backgroundColor: 'rgb(255, 99, 132)',
				borderColor: 'rgb(255, 99, 132)',
				data: {{ query_time | tojson}},
			}]
		};

		const config = {
			type: 'line',
			data: data,
			options: { maintainAspectRatio: false}

		};

		const myChart = new Chart(
			document.getElementById('myChart'),
			config
		);

	</script>
    {% if salpics %}
            <h2>The earthquakes inside km radius are: </h2>
            <ul style="list-style-type:none">
                {% for salpic in salpics %}
                <table>
                    <tr>
                        <td>{{salpic[0]}}</td>
                        <td>{{salpic[1]}}</td>
                        <td>{{salpic[2]}}</td>
                        <td>{{salpic[3]}}</td>
                        <td>{{salpic[4]}}</td>
                        <td>{{salpic[5]}}</td>
                        <td>{{salpic[6]}}</td>
                        <td>{{salpic[7]}}</td>
                        <td>{{salpic[8]}}</td>
                        <td>{{salpic[9]}}</td>
                        <td>{{salpic[10]}}</td>
                        <td>{{salpic[11]}}</td>
                    </tr>
                </table>
                {% endfor %}
            </ul>
        {% endif %}
{% endblock %}